@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-wjr7oi');
	src:url('fonts/icomoon.eot?#iefix-wjr7oi') format('embedded-opentype'),
		url('fonts/icomoon.woff?-wjr7oi') format('woff'),
		url('fonts/icomoon.ttf?-wjr7oi') format('truetype'),
		url('fonts/icomoon.svg?-wjr7oi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
	content: "\e605";
}
.icon-pinterest:before {
	content: "\e60a";
}
.icon-code:before {
	content: "\e60d";
}
.icon-console:before {
	content: "\e60e";
}
.icon-stats:before {
	content: "\e60f";
}
.icon-github:before {
	content: "\e600";
}
.icon-skype:before {
	content: "\e601";
}
.icon-linkedin:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-google-plus:before {
	content: "\e606";
}
.icon-mail:before {
	content: "\e607";
}
.icon-css3:before {
	content: "\e608";
}
.icon-html5:before {
	content: "\e609";
}
.icon-hammer:before {
	content: "\e60b";
}
.icon-cog:before {
	content: "\e60c";
}
.icon-cog2:before {
	content: "\e610";
}
.icon-tree:before {
	content: "\e611";
}
.icon-bars:before {
	content: "\e612";
}
